.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox--selected {

    box-shadow: 10px 10px 10px rgba(185, 6, 6, 0.5) !important;

}

.infoBox--red {}

.infoBox__cases--green {
    color: lightgreen !important;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}


.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

@media (max-width: 550px) {
    .infoBox__title {
        font-size: 14px !important;
    }

    .infoBox__cases {
        font-size: 18px;
    }
}